<div class="menu fixed-top">
  <span class="left"> Home </span>
  <span class="left"> Categories </span>
  <span class="left"> Contact </span>
  <span class="left"> About Us </span>

  <img class="logo" src="https://image.ibb.co/b3tQRK/153297876771137380.png">

  <span class="right"> <a href="/postulantes" class="text-white">Postulantes</a></span>
  <span class="right"> <a href="/login" class="text-white">Login</a></span>
  <span class="right"> <a href="/register" class="text-white">Registrar</a></span>

</div>

<div class="flex-container">
  <div class="big_featured">
    <img class="big_img" src="https://images.unsplash.com/photo-1495510096779-5fbe73258c83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=553db17bf3181cc07a29ccbadb0302ee&auto=format&fit=crop&w=1349&q=80">



    <div class="featured_info col-lg-6 col-sm-2">

      <div class="icons col-lg-5">
        <i class="fa fa-fire"></i>
        <i class="fa fa-flash"></i>
      </div>

      <div class="category_and_views col-lg-4 col-sm-5">
        <div class="row">
          <div class="category col-lg-6">
            <span>DESIGN</span>
          </div>

          <div class="views col-lg-6">

            <span> <i class="fa fa-eye"></i> 3K</span>
          </div>

        </div>




      </div>

      <div class="title col-lg-12">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      </div>

      <div class="meta row col-lg-10">
        <div class="date col">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
<span>Posted on Nov 8, 2018</span>
        </div>
        <div class="author">
          <img class="author_img" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&d=retro&r=g">
          <span> Aleksa Cupic </span>
        </div>
        <div class="comments col">
          <i class="fa fa-comment" aria-hidden="true"></i> <span>0</span>
        </div>
      </div>

    </div>

    <div class="simple-linear col-lg-12"></div>

  </div>


  <div class="featured_posts row col-lg-12">

    <div class="big_featured_holder col-lg-6">
      <div class="big_featured_post col-lg-12">
        <img src="https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb1e9a6cb78d210f74cba5298eca8ee7&auto=format&fit=crop&w=1400&q=80">
        <div class="post_info">
          <div class="category">
            <span>JAVASCRIPT</span>
          </div>
          <h3>Lorem imspu</h3>

          <div class="date">
            <span>Posted on Jan 8, 2018</span>
          </div>

          <div class="snippet">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum quam et feugiat blandit. Suspendisse congue massa elit, tempor fringilla. Nulla at auctor diam...</span>
          </div>
        </div>
      </div>
    </div>

    <div class="small_featured_holder row col-lg-6">
      <div class="small_featured_post col-lg-6">
        <img src="https://images.unsplash.com/photo-1488263590619-bc1fff43b6c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c47433ac0414b561157e79989b4633ce&auto=format&fit=crop&w=1267&q=80">

        <div class="post_info">
          <h5>Lorem ipsum</h5>
          <div class="date">Posted on Jun 8, 2018</div>
        </div>
      </div>

      <div class="small_featured_post col-lg-6">
        <img src="https://images.unsplash.com/photo-1504164996022-09080787b6b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b237330e1a78d52ec28208cbe21be778&auto=format&fit=crop&w=1350&q=80">

        <div class="post_info">
          <h5>Lorem ipsum</h5>
          <div class="date">Posted on Jun 8, 2018</div>
        </div>
      </div>

      <div class="small_featured_post col-lg-6">
        <img src="https://images.unsplash.com/photo-1511296265581-c2450046447d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=501e96c89320be2501bd529cd669d7c3&auto=format&fit=crop&w=700&q=80">
        <div class="post_info">
          <h5>Lorem ipsum</h5>
          <div class="date">Posted on Jun 8, 2018</div>
        </div>
      </div>

      <div class="small_featured_post col-lg-6">
        <img src="https://images.unsplash.com/photo-1514441522986-1a15ae47bd0c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43ca3ba058cfcee0457efc52f045f9e5&auto=format&fit=crop&w=644&q=80">

        <div class="post_info">
          <h5>Lorem ipsum</h5>
          <div class="date">Posted on Jun 8, 2018</div>
        </div>

      </div>

    </div>

  </div>

  <div class="recent_posts row col-lg-12">
    <div class="header col-lg-12">
      <div class="date_current">
        <div id="day" class="day"></div>
        <div class="m_and_d">
          <span id="month" class="month"></span>
          <span id="date" class="date"></span>
        </div>
      </div>
    </div>

    <div class="post col-lg-6">
      <img class="post_thumb" src="https://images.unsplash.com/photo-1518118115078-c6adc68910bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb1cd92c0f9683fe93a6fd99a8277b0f&auto=format&fit=crop&w=1350&q=80">
      <div class="post_info">
        <div class="category">
          <span>Mobile</span>
        </div>

        <div class="title">
          <h4>Lorem ipsum</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus nunc euismod, placerat nulla quis, porttitor justo. </p>

        </div>

        <div class="meta row col-lg-10">
          <div class="date col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
<span> Nov 8, 2018</span>
          </div>
          <div class="author">
            <img class="author_img" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&d=retro&r=g">
            <span> Aleksa Cupic </span>
          </div>
          <div class="comments col">
            <i class="fa fa-comment" aria-hidden="true"></i> <span>0</span>
          </div>
      </div>

      </div>
    </div>

    <div class="post col-lg-6">
      <img class="post_thumb"  src="https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e57144c565123f5c50372fa9d6402c8c&auto=format&fit=crop&w=1385&q=80">

      <div class="post_info">
        <div class="category">
          <span>Coding</span>
        </div>

        <div class="title">
          <h4>Lorem ipsum</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus nunc euismod, placerat nulla quis, porttitor justo. </p>

        </div>

        <div class="meta row col-lg-12">
          <div class="date col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
<span> Nov 8, 2018</span>
          </div>
          <div class="author">
            <img class="author_img" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&d=retro&r=g">
            <span> Aleksa Cupic </span>
          </div>
          <div class="comments col">
            <i class="fa fa-comment" aria-hidden="true"></i> <span>0</span>
          </div>
      </div>

      </div>

    </div>


    <div class="post col-lg-6">
      <img class="post_thumb"  src="https://images.unsplash.com/photo-1487875961445-47a00398c267?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=688cfba3324ce75c5c88ba123c66b478&auto=format&fit=crop&w=1350&q=80">

      <div class="post_info">
        <div class="category">
          <span>Coding</span>
        </div>

        <div class="title">
          <h4>Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus nunc euismod, placerat nulla quis, porttitor justo. </p>
        </div>

        <div class="meta row col-md-10">
          <div class="date col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
<span> Nov 8, 2018</span>
          </div>
          <div class="author">
            <img class="author_img" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&d=retro&r=g">
            <span> Aleksa Cupic </span>
          </div>
          <div class="comments col">
            <i class="fa fa-comment" aria-hidden="true"></i> <span>0</span>
          </div>
      </div>

      </div>

    </div>


    <div class="post col-lg-6">
      <img class="post_thumb"  src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21a24969b0a4cfdbde7f0cb12b2f4d45&auto=format&fit=crop&w=1360&q=80">

      <div class="post_info">
        <div class="category">
          <span>Coding</span>
        </div>

        <div class="title">
          <h4>Lorem ipsum</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus nunc euismod, placerat nulla quis, porttitor justo. </p>
        </div>

        <div class="meta row col-md-10">

          <div class="date col">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
<span> Nov 8, 2018</span>
          </div>

          <div class="author col">
            <img class="author_img" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&d=retro&r=g">
            <span> Aleksa Cupic </span>
          </div>

          <div class="comments col">
            <i class="fa fa-comment" aria-hidden="true"></i> <span>0</span>
          </div>
      </div>

      </div>

    </div><!--End Recent Posts-->

    <div class="col-lg-12 load_more">
      <button class="btn">Load More</button>
    </div>

  </div>


  <div class="categories col-lg-12 col-sm-12 row">

    <div class="header col-lg-12 col-sm-2">
      <h1>Browse</h1>
    </div>
    <div class="category col">

      <img src="https://images.unsplash.com/photo-1478358161113-b0e11994a36b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a11da19e81415e5a81029aade9df7774&auto=format&fit=crop&w=634&q=80">

      <div class="title">
        <h6>Artificial intelligence
</h6>
      </div>
    </div>

    <div class="category col">

      <img src="https://images.unsplash.com/photo-1512075135822-67cdd9dd7314?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18d626931a8030b4587fbc6cef3098c2&auto=format&fit=crop&w=675&q=80">

      <div class="title">
        <h6>Cryptocurrency
</h6>
      </div>
    </div>

    <div class="category col-lg-2">

      <img src="https://images.unsplash.com/photo-1512008678217-42b6b67a7dc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b232237917467202c80f988057a3885b&auto=format&fit=crop&w=1488&q=80">

      <div class="title">
        <h6>Cybersecurity

</h6>
      </div>
    </div>

    <div class="category col">

      <img src="https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=377e356cce015c363d123504857f8137&auto=format&fit=crop&w=1311&q=80">

      <div class="title">
        <h6>Programming
</h6>
      </div>
    </div>

    <div class="category col">

      <img src="https://images.unsplash.com/photo-1496674205429-924b32acd421?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c79e9fb8930b09f0c2885309718bf351&auto=format&fit=crop&w=1350&q=80">

      <div class="title">
        <h6>Digital design
</h6>
      </div>
    </div>

    <div class="category col-lg-2">

      <img src="https://images.unsplash.com/photo-1517503733723-8ea1cf616798?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c80b35bc18dea5bfad8db2b17d347cb&auto=format&fit=crop&w=1350&q=80">

      <div class="title">
        <h6>Software engineering</h6>
      </div>
    </div>

  </div>

  <div class="footer col-lg-12 row">

    <div class="first_container col-lg-4">
      <img src="https://image.ibb.co/b3tQRK/153297876771137380.png">
      <span>Foxzy.io, lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit faucibus nulla non consequat. Integer sed placerat nunc. </span>

             <div class="addthis_inline_share_toolbox"></div>

    </div>

    <div class="second_container col-lg-4">
      <div class="popular_post row col-lg-12">
        <div class="image col">
          <img src="https://images.unsplash.com/photo-1495510096779-5fbe73258c83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=553db17bf3181cc07a29ccbadb0302ee&auto=format&fit=crop&w=1349&q=80">
        </div>
        <div class="title col">
          <h4>Lorem ipsum dolor sit amet</h4>
        </div>
      </div>


      <div class="popular_post row col-lg-12">
        <div class="image col">
          <img src="https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb1e9a6cb78d210f74cba5298eca8ee7&auto=format&fit=crop&w=1400&q=80">
        </div>
        <div class="title col">
          <h4>Lorem ipsum doa m lor</h4>
        </div>
      </div>

    </div>

    <div class="third_container col-lg-4">
      <h3>Subscribe</h3>
      <p>Don't miss a thing <br /> Subscribe to recieve weekly updates!</p>

      <input placeholder="Enter your email!">


    </div>


</div>

